@font-face {
    font-family: "iconfont";
    src: url('//at.alicdn.com/t/font_1686139_aoimn4zktpi.eot?t=1586140536416');
    /* IE9 */
    src: url('//at.alicdn.com/t/font_1686139_aoimn4zktpi.eot?t=1586140536416#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALIAAsAAAAABoQAAAJ5AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBDIEVATYCJAMICwYABCAFhG0HMRu8BREVjFeynwPuZrIE7Xn7y639tUxrhzGa0+JgGSkzM3c8fO33eu7b/cmGyCGqTCSRC7vEkYqKLbFqVa2qMKyAdPXbmo7hXhhshOmUPd96lv+R/+708mE5g7CgMA4hEZLJaysd5jcIDjer8yj+wL/chvt1TWVHI/5va4jFYi1SihlwTf0EGkgeyObWSVHJkYATHGAXjlp4Axn6hunlCxyI8wRaDVsUO3ULQpHpaYG47bZBKIWALLN0EZoa1mbxTkOp3lQfrLyNvh//lFGoNBJddXTTzMLGzyWTlR7Xj10EhCABbW4gYRGZOGtMHEiCcZJW0WwcWQ7/LOsa28VRLYL9dbq0HQxC6TPJnPxRSyuQk9Qs1jGb31K1D957vsP7A/9f7PvJAQ9zB05hD68VjJ72iwzZFR9zyY8/EhglH415dNQrs/3o+XP2rmWPTKOOkVWufI92dL/ki5tjTrdGan8/E7z//bvOX/lf2jL49P5oOKF+nKXHKLt3Br9JNrAjC4V2VPk6mqB2s5OmVmjVihr29Po21ThwT5lQDNyZq9lQhqSYJDO7iIY2y2hSrKPVgv3NbfrcSSK3YN4LgIAJvCDx3JAFvqTC/qDK/KEJYgsLjXhPWx2dIoxa0IF5QGdp9tYhKi7fY7iMmvOKiHtGjl0YijQvpxuckZdYEK+hFPHgmSaowWU4jgQLU49W0lZkqbLMN90otTStFIIhTSAHGA+gY5GZD/oLVfn8HgouRhp31OTiZ4hF3eCgkMoHkI12HlTzKNdEV0FJCA94jExADUah0YiApXlUD1ki1U6ILSqZ6eWHatPt9dMPlLAGtEkKMzTRL0eKmJjVCgAAAA==') format('woff2'),
        url('//at.alicdn.com/t/font_1686139_aoimn4zktpi.woff?t=1586140536416') format('woff'),
        url('//at.alicdn.com/t/font_1686139_aoimn4zktpi.ttf?t=1586140536416') format('truetype'),
        /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
        url('//at.alicdn.com/t/font_1686139_aoimn4zktpi.svg?t=1586140536416#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close-b:before {
    content: "\e632";
}